/*Estilos da página idex.html*/

.center{
    text-align: center;
}

.yellow{
    color:#ffa801;
}
.tam{
    font-size: 20pt;
}
.tam35{
    font-size: 35pt;

}

.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.container2{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.padding30{
    padding: 30px;
}

#menu li{
    display: inline;
    padding: 30px;
    font-size: 20pt;
   
}

#menu li a {
    text-decoration: none;
    color: #ffa801;
}
#menu li a:hover{
    color: red;
}
.p20{
    padding: 20px;
}

.tm{
    width: 20px;
    height: 20px;
}

.mb-50{
    margin-bottom: 50px;
}

.redondo{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.kill{
    text-decoration: none;
}
.kill :hover{
    color:gold;
    
}

/*Estilos da página contato.html*/

.ml-50{
    margin-left: 50px;
}